<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "Example"}
    </.live_title>
    <PhoenixVite.Components.assets
      names={["js/app.js", "css/app.css"]}
      manifest={{:example, "priv/static/.vite/manifest.json"}}
      dev_server={PhoenixVite.Components.has_vite_watcher?(ExampleWeb.Endpoint)}
      to_url={fn p -> static_url(@conn, p) end}
    />
  </head>
  <body class="bg-base-200 antialiased" data-theme="light">
    {@inner_content}
  </body>
</html>
